@model IEnumerable<JamCentral.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Followed Artists</h2>

@if (Model.Count() == 0)
{
<p>You havent followed an Artist yet, give it a try!</p>
}

<ul class="following">
    @foreach (var artist in Model)
    {
        <li>
            <div class="artist">
                <text class="nick-name">@artist.Name</text>
                <span id="unfollow" data-artist-id="@artist.Id" class="btn btn-primary btn-sm">Unfollow</span>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#unfollow').click(function (e) {
                var button = $(e.target);
                $.ajax({
                    url: '/api/followings',
                    method: 'DELETE',
                    data: { ArtistId: button.attr("data-artist-id") }
                })
                .done(function () {
                    console.log("Success");
                    button
                        .removeClass("btn-primary")
                        .addClass("btn-info")
                        .text("Unfollowed");
                })
                .fail(function () {
                    alert("Something failed!");
                });
            });
        });
    </script>
}

