body{

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set color of validation massages on forms */
span.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/*Home page list styles*/

.gigs {
    list-style:none;
}
 
.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}
    .gigs > li .details .artist {
        display: block;
        font-size: large;
        font-weight: bold;
    }
    .gigs > li .details .genre {
        font-style: italic;
    }

.gigs > li .date {
    background-color: red;
    text-align: center;
    width: 60px;
    border-radius: 10px;
    
}
    .gigs > li .date .month {
        color:white;
        text-transform: uppercase;
        padding: 3px;
    }

    .gigs > li .date .day {
        background-color: #f3f3f3;
        font-size: large;
        padding: 3px;
    }

/*My upcoming gigs page*/

.following {
    list-style: none;
}

.following .artist {
    margin-bottom: 30px;
    width: 200px;
}
    .following .artist .nick-name {
        font-size: large;
        font-weight: bold;
    }

    .following .artist .btn-sm {
        float: right;
    }

.gigs > li .action {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .action{
    display: block;
}

/*Notifications pop up*/

ul.notifications {
    list-style: none;
    padding-left: 0px;
}

    ul.notifications > li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0px;
    }

    ul.notifications > li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    ul.notifications > li .highlight {
        font-weight: bold;
    }
