body{

}

﻿body {
    color: #52656B;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3B4B50;
}

h2, .h2 {
    font-size: 25px;
}

.body-content {
    padding-top: 20px;
}

.navbar {
    padding: 0 0;
}

.navbar-inverse {
    background-color: #ff9f4b;
    border-color: #f9de1b;
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        border-bottom: 3px solid transparent;
        transition: border-bottom ease-in-out .15s;
        padding-bottom: 10px;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            border-bottom: 3px solid #fff;
            color: #fff;
        }

    .navbar-inverse .notifications {
        position: relative;
        width: 50px;
    }

        .navbar-inverse .notifications .notif-icon {
            position: absolute;
            top: 10px;
            right: 20px;
        }

            .navbar-inverse .notifications .notif-icon:hover, .navbar-inverse .notifications .notif-icon:focus {
                border-bottom: 0px;
                border-bottom-color: transparent
            }

        .navbar-inverse .notifications .badge {
            position: absolute;
            top: -4px;
            border-radius: 15px;
            background-color: #ff0000ba;
        }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #000000;
            background-color: transparent;
        }

a, .btn-link {
    color: #09A7E4;
}

.btn {
    border-radius: 10px;
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
    border: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #27aed8;
    border: 0;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #47c5f7;
    }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #ffffff;
    background-color: #52656B;
    border-color: #52656B;
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
    text-transform: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.form-control {
    height: 41px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    border-radius: 10px;
}

    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid #09A7E4;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set color of validation massages on forms */
span.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/*Home page list styles*/

.gigs {
    list-style:none;
}
 
.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}
    .gigs > li .details .artist {
        display: block;
        font-size: large;
        font-weight: bold;
    }
    .gigs > li .details .genre {
        font-style: italic;
    }

.gigs > li .date {
    background-color: red;
    text-align: center;
    width: 60px;
    border-radius: 10px;
    
}
    .gigs > li .date .month {
        color:white;
        text-transform: uppercase;
        padding: 3px;
    }

    .gigs > li .date .day {
        background-color: #f3f3f3;
        font-size: large;
        padding: 3px;
    }

/*My upcoming gigs page*/

.following {
    list-style: none;
}

.following .artist {
    margin-bottom: 30px;
    width: 200px;
}
    .following .artist .nick-name {
        font-size: large;
        font-weight: bold;
    }

    .following .artist .btn-sm {
        float: right;
    }

.gigs > li .action {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .action{
    display: block;
}

/*Notifications pop up*/

ul.notifications {
    list-style: none;
    padding-left: 0px;
}

    ul.notifications > li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0px;
    }

    ul.notifications > li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    ul.notifications > li .highlight {
        font-weight: bold;
    }
