@model IEnumerable<JamCentral.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}
<h1>Upcoming Gigs</h1>
<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.Date -- @gig.Artist.Name</li>
    }
</ul>
